@function wSize($size) {
  $rate: 100 / 1000;
  @return $rate * $size * 1vw;
}

@mixin widthSize($size) {
  width: wSize($size);
}

@mixin heigthSize($size) {
  height: wSize($size);
}

@mixin fontSize($size) {
  font-size: wSize($size);
}
